#contact {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#contact input, #contact textarea{
    background: #000;
    border-radius: 0;
    color: #ccc;
    padding: 10px 16px;
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.3333333;
}

#contact label {
    text-align:left;
    font-weight: 100;
    font-size: 16px;
    margin: 10px 0;

}
#contact .form-control {
    width: 75%;
}

#error-section {
    position: fixed;
    bottom:0;
    width:100%;
    height: 100px;
    text-align:center;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    visibility:hidden;
    padding: 20px;
}

#error-section.success {
    background: #42DCA3;
    display:block;
    visibility:visible;
}

#error-section.error {
    background: #FF7777;
    display: block;
    visibility: visible;
}


